.carousel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 70px;
}

.carousel__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel__slide {
  flex: 0 0 100%;
}

.carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button--left,
.carousel__button--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: white;
}

.carousel__button--left {
  left: 1rem;
}

.carousel__button--right {
  right: 1rem;
}


.carousel__image-container {
  position: relative;
}

.carousel__spam {
  position: absolute;
  top: 400px;
  left: 30%;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5) ;
  border-radius: 5px;
  width: 600px;
  transform: translate(-60%, -10%);
  font-size: 3rem;
  color: rgb(245, 245, 245);
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
  background-color: rgb(68, 68, 68);
}
