.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  
  .hamburger-line {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: black;
  }
  
  
  .nav-link{
    margin-right: 20px;
    margin-left: 10px;
  }


    @media (max-width: 768px) {

      .nav-link {
        display: block;
      }

     
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-link {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  
    .navbar.show {
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background-color: white;
      z-index: 9999;
      transition: all 0.3s ease;
    }
  
    .navbar.show .nav-link {
      display: block;
      padding: 10px 20px;
      font-size: 1.2rem;
      color: black;
      transition: all 0.3s ease;
    }
    
    .navbar.show .nav-link:hover {
      background-color: gray;
    }
  
    .navbar.show .hamburger {
      position: absolute;
      top: 20px;
      right: 20px;
      transition: all 0.3s ease;
    }
  
    .navbar.show .hamburger-line {
      background-color: black;
      transition: all 0.3s ease;
    }
  
    .navbar.show .hamburger-line:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
    }
  
    .navbar.show .hamburger-line:nth-child(2) {
      opacity: 0;
    }
  
    .navbar.show .hamburger-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
    }
  
  